<?xml version="1.0"?>
<launch>

	<node name="rviz" pkg="rviz" type="rviz" args="-d $(find velObs)/launch/planning_demo.rviz" required="true" />


 <node pkg="velObs" type="fake_obs_sphere_sim" name="fake_obs_sphere_sim" output="screen">

      <rosparam file="$(find velObs)/launch/planning_params_sphere.yaml" command="load" />

  </node>

</launch>
